.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-self: center;
  min-height: 40vh;
}
