.App {
  text-align: center;
}
button {
  background-color: black;
  border: none;
  color: white;
  width: 100px;
  padding: 20px;
  text-align: center;
  font-size: 72px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}
span {
  font-size: 72px;
  color: black;
  margin: 10px;
}
