.App {
  text-align: center;
  height: 100vh;
}
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.btn {
  border: none;
  width: 100px;
  padding: 20px;
  text-align: center;
  font-size: 72px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}
span {
  font-size: 72px;
  margin: 10px;
}
.toggle {
  background-color: #3f53;
  color: white;
  border: none;
  width: 120px;
  height: 120px;
  padding: 20px;
  text-align: center;
  font-size: 28px;
  margin: 10px 20px;
  cursor: pointer;

  border-radius: 50%;
}
